set_io Tile_X0Y1_A Tile_X0Y1.A
set_io Tile_X0Y1_B Tile_X0Y1.B
set_io Tile_X9Y1_A Tile_X9Y1.A
set_io Tile_X9Y1_B Tile_X9Y1.B
set_io Tile_X9Y1_C Tile_X9Y1.C
set_io Tile_X9Y1_D Tile_X9Y1.D
set_io Tile_X9Y1_E Tile_X9Y1.E
set_io Tile_X9Y1_F Tile_X9Y1.F
set_io Tile_X9Y1_G Tile_X9Y1.G
set_io Tile_X9Y1_H Tile_X9Y1.H
set_io Tile_X9Y1_I Tile_X9Y1.I
set_io Tile_X9Y1_J Tile_X9Y1.J
set_io Tile_X9Y1_K Tile_X9Y1.K
set_io Tile_X0Y2_A Tile_X0Y2.A
set_io Tile_X0Y2_B Tile_X0Y2.B
set_io Tile_X9Y2_A Tile_X9Y2.A
set_io Tile_X9Y2_B Tile_X9Y2.B
set_io Tile_X9Y2_C Tile_X9Y2.C
set_io Tile_X9Y2_D Tile_X9Y2.D
set_io Tile_X9Y2_E Tile_X9Y2.E
set_io Tile_X9Y2_F Tile_X9Y2.F
set_io Tile_X9Y2_G Tile_X9Y2.G
set_io Tile_X9Y2_H Tile_X9Y2.H
set_io Tile_X9Y2_I Tile_X9Y2.I
set_io Tile_X9Y2_J Tile_X9Y2.J
set_io Tile_X9Y2_K Tile_X9Y2.K
set_io Tile_X0Y3_A Tile_X0Y3.A
set_io Tile_X0Y3_B Tile_X0Y3.B
set_io Tile_X9Y3_A Tile_X9Y3.A
set_io Tile_X9Y3_B Tile_X9Y3.B
set_io Tile_X9Y3_C Tile_X9Y3.C
set_io Tile_X9Y3_D Tile_X9Y3.D
set_io Tile_X9Y3_E Tile_X9Y3.E
set_io Tile_X9Y3_F Tile_X9Y3.F
set_io Tile_X9Y3_G Tile_X9Y3.G
set_io Tile_X9Y3_H Tile_X9Y3.H
set_io Tile_X9Y3_I Tile_X9Y3.I
set_io Tile_X9Y3_J Tile_X9Y3.J
set_io Tile_X9Y3_K Tile_X9Y3.K
set_io Tile_X0Y4_A Tile_X0Y4.A
set_io Tile_X0Y4_B Tile_X0Y4.B
set_io Tile_X9Y4_A Tile_X9Y4.A
set_io Tile_X9Y4_B Tile_X9Y4.B
set_io Tile_X9Y4_C Tile_X9Y4.C
set_io Tile_X9Y4_D Tile_X9Y4.D
set_io Tile_X9Y4_E Tile_X9Y4.E
set_io Tile_X9Y4_F Tile_X9Y4.F
set_io Tile_X9Y4_G Tile_X9Y4.G
set_io Tile_X9Y4_H Tile_X9Y4.H
set_io Tile_X9Y4_I Tile_X9Y4.I
set_io Tile_X9Y4_J Tile_X9Y4.J
set_io Tile_X9Y4_K Tile_X9Y4.K
set_io Tile_X0Y5_A Tile_X0Y5.A
set_io Tile_X0Y5_B Tile_X0Y5.B
set_io Tile_X9Y5_A Tile_X9Y5.A
set_io Tile_X9Y5_B Tile_X9Y5.B
set_io Tile_X9Y5_C Tile_X9Y5.C
set_io Tile_X9Y5_D Tile_X9Y5.D
set_io Tile_X9Y5_E Tile_X9Y5.E
set_io Tile_X9Y5_F Tile_X9Y5.F
set_io Tile_X9Y5_G Tile_X9Y5.G
set_io Tile_X9Y5_H Tile_X9Y5.H
set_io Tile_X9Y5_I Tile_X9Y5.I
set_io Tile_X9Y5_J Tile_X9Y5.J
set_io Tile_X9Y5_K Tile_X9Y5.K
set_io Tile_X0Y6_A Tile_X0Y6.A
set_io Tile_X0Y6_B Tile_X0Y6.B
set_io Tile_X9Y6_A Tile_X9Y6.A
set_io Tile_X9Y6_B Tile_X9Y6.B
set_io Tile_X9Y6_C Tile_X9Y6.C
set_io Tile_X9Y6_D Tile_X9Y6.D
set_io Tile_X9Y6_E Tile_X9Y6.E
set_io Tile_X9Y6_F Tile_X9Y6.F
set_io Tile_X9Y6_G Tile_X9Y6.G
set_io Tile_X9Y6_H Tile_X9Y6.H
set_io Tile_X9Y6_I Tile_X9Y6.I
set_io Tile_X9Y6_J Tile_X9Y6.J
set_io Tile_X9Y6_K Tile_X9Y6.K